<form
  [formGroup]="form"
  novalidate
  class="space-y-4 px-4 pb-4"
  (ngSubmit)="doSave()"
>
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="title"
        placeholder="Enter board title"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>

    @if (form.controls.title.touched && form.controls.title.invalid) {
    <div>
      @if (form.controls.title.hasError('required')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is mandatory
      </p>
      }
    </div>
    }
  </div>

  <div class="flex flex-wrap">
    <div class="flex items-center me-4">
      <input
        id="sky-radio"
        type="radio"
        value="sky"
        name="backgroundColor"
        checked
        formControlName="backgroundColor"
        class="w-4 h-4 text-sky-600 bg-gray-100 border-gray-300 focus:ring-sky-500 focus:ring-2"
      />
      <label for="sky-radio" class="ms-2 text-sm font-medium text-gray-900"
        >Sky</label
      >
    </div>
    <div class="flex items-center me-4">
      <input
        id="yellow-radio"
        type="radio"
        value="yellow"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="w-4 h-4 text-yellow-600 bg-gray-100 border-gray-300 focus:ring-yellow-500 focus:ring-2"
      />
      <label for="yellow-radio" class="ms-2 text-sm font-medium text-gray-900"
        >Yellow</label
      >
    </div>
    <div class="flex items-center me-4">
      <input
        id="red-radio"
        type="radio"
        value="red"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2"
      />
      <label for="red-radio" class="ms-2 text-sm font-medium text-gray-900"
        >Red</label
      >
    </div>
    <div class="flex items-center me-4">
      <input
        id="violet-radio"
        type="radio"
        value="violet"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="w-4 h-4 text-violet-600 bg-gray-100 border-gray-300 focus:ring-violet-500 focus:ring-2"
      />
      <label for="violet-radio" class="ms-2 text-sm font-medium text-gray-900"
        >Violet</label
      >
    </div>
    <div class="flex items-center me-4">
      <input
        id="gray-radio"
        type="radio"
        value="gray"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="w-4 h-4 text-gray-600 bg-gray-100 border-gray-300 focus:ring-gray-500 focus:ring-2"
      />
      <label for="gray-radio" class="ms-2 text-sm font-medium text-gray-900"
        >Gray</label
      >
    </div>
    <div class="flex items-center me-4">
      <input
        id="green-radio"
        type="radio"
        value="green"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2"
      />
      <label for="green-radio" class="ms-2 text-sm font-medium text-gray-900"
        >green</label
      >
    </div>

  </div>

  <div>
    <app-btn typeBtn="submit" color="success"> Login </app-btn>
  </div>
</form>
