<form
  [formGroup]="form"
  novalidate
  class="space-y-4 px-4 pb-4"
  (ngSubmit)="doSave()"
>
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="title"
        placeholder="Enter board title"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>

    @if (form.controls.title.touched && form.controls.title.invalid) {
    <div>
      @if (form.controls.title.hasError('required')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is mandatory
      </p>
      }
    </div>
    }
  </div>

  <div class="flex flex-wrap gap-2">
    <div class="flex items-center">
      <input
        id="sky-radio"
        type="radio"
        value="sky"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="sky-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-sky-700 hover:bg-sky-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="yellow-radio"
        type="radio"
        value="yellow"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="yellow-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-yellow-700 hover:bg-yellow-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="red-radio"
        type="radio"
        value="red"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="red-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-red-700 hover:bg-red-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="violet-radio"
        type="radio"
        value="violet"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="violet-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-violet-700 hover:bg-violet-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="gray-radio"
        type="radio"
        value="gray"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="gray-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-gray-700 hover:bg-gray-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center">
      <input
        id="green-radio"
        type="radio"
        value="green"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="green-radio"
        class="inline-flex items-center justify-center w-16 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-green-700 hover:bg-green-500 peer-checked:text-white"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
  </div>

  <div>
    <app-btn typeBtn="submit" color="success"> Login </app-btn>
  </div>
</form>
