<nav class="bg-sky-700 border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/">
        <img
          loading="lazy"
          class="w-20 mr-8"
          src="/images/logo/logo-gradient-white-trello.png"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <button
              type="button"
              class="block py-3 px-4 text-white"
              aria-expanded="false"
              type="button"
              (click)="isWorkspaceOpen = !isWorkspaceOpen"
              cdkOverlayOrigin
              #workspaceOverlay="cdkOverlayOrigin"
            >
              Workspaces
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="block py-3 px-4 text-white"
              aria-expanded="false"
              type="button"
              (click)="isRecentOpen = !isRecentOpen"
              cdkOverlayOrigin
              #recentOverlay="cdkOverlayOrigin"
            >
              Recent
              <fa-icon [icon]="faChevronDown"></fa-icon>
            </button>
          </li>
          <li>
            <app-btn typeBtn="button" color="primary">Create</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <button class="text-white">
        <fa-icon [icon]="fabell"></fa-icon>
      </button>
      <button class="text-white">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
      </button>
      <!-- se crea el evento para cambiar el estado, se agrega la propiedad cdkOverlayOrigin y en el # se agrega un nombre para poder referenciarlo (en la documeción se usa #trigger) y se le asigna cdkOverlayOrigin que no cambia -->
      <button
        type="button"
        class="flex rounded-full"
        aria-expanded="false"
        type="button"
        (click)="isOpen = !isOpen"
        cdkOverlayOrigin
        #menuOverlay="cdkOverlayOrigin"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="https://api.lorem.space/image/face?w=150&h=150"
          alt="user photo"
        />
      </button>
    </div>
  </div>
</nav>

<!-- se crea el template que se va a mostrar cuando se haga click en el boton y se envian las propiedades cdkConnectedOverlay y cdkConnectedOverlayOrigin en el que se le asigna el nombre que se le asigno en el #, y en cdkConnectedOverlayOpen se le asigna la variable que se va a cambiar que cambia el estado, ademas de otras propiedades que le dan funcionalidad al template -->
<!-- (backdropClick)="isOpen = false"
  [cdkConnectedOverlayHasBackdrop]="true"
  (detach)="isOpen = false"
  (outsideClick)="isOpen = false" cierra el menu cuando se hace click fuera del menu -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="isOpen = false"
>
  <div
    class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
  >
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button (click)="isOpen = !isOpen" class="block text-sm text-gray-900">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://api.lorem.space/image/face?w=400&h=400"
        alt=""
      />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nico&#64;gmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
          >Profile</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
          >Activity</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
          >Cards</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
          >Sign out</a
        >
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <button href="#" class="block py-2 px-4 text-sm text-gray-700" (click)="logout()">Log out</button>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="workspaceOverlay"
  [cdkConnectedOverlayOpen]="isWorkspaceOpen"
  (overlayOutsideClick)="isWorkspaceOpen = false"
>
  <!-- Dropdown menu -->
  <div
    id="dropdownNotification"
    class="z-20 w-full max-w-sm my-4 bg-white divide-y divide-gray-100 rounded-lg shadow"
    aria-labelledby="dropdownNotificationButton"
  >
    <div
      class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50"
    >
      Your workspaces
    </div>
    <div class="divide-y divide-gray-100">
      <a href="#" class="flex px-4 py-3 hover:bg-gray-100">
        <div class="flex-shrink-0">
          <img
            class="w-11 h-11"
            src="/images/logo/icon-gradient-blue-trello.png"
            alt="Jese image"
          />
        </div>
        <div class="w-full ps-3">
          <div class="text-md mb-1.5">
            My workspace
          </div>
        </div>
      </a>
    </div>
    <a
      href="#"
      class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100"
    >
      <div class="inline-flex items-center">
        <svg
          class="w-4 h-4 me-2 text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 14"
        >
          <path
            d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
          />
        </svg>
        View all
      </div>
    </a>
  </div>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="recentOverlay"
  [cdkConnectedOverlayOpen]="isRecentOpen"
  (overlayOutsideClick)="isRecentOpen = false"
>
  <!-- Dropdown menu -->
  <div
    id="dropdownNotification"
    class="z-20 w-full max-w-sm my-4 bg-white divide-y divide-gray-100 rounded-lg shadow"
    aria-labelledby="dropdownNotificationButton"
  >
    <div
      class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50"
    >
      Recent boards
    </div>
    <div class="divide-y divide-gray-100">
      <a href="#" class="flex px-4 py-3 hover:bg-gray-100">
        <div class="flex-shrink-0">
          <img
            class="w-11 h-11"
            src="/images/logo/icon-gradient-blue-trello.png"
            alt="Jese image"
          />
        </div>
        <div class="w-full ps-3">
          <div class="text-md mb-1.5">
            Demo
            <div class="text-sm text-gray-600">Duvan Yesid</div>
          </div>
        </div>
      </a>
    </div>
    <a
      href="#"
      class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100"
    >
      <div class="inline-flex items-center">
        <svg
          class="w-4 h-4 me-2 text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 14"
        >
          <path
            d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
          />
        </svg>
        View all
      </div>
    </a>
  </div>
</ng-template>
