<div class="flex flex-col min-h-screen">
  <div class="flex flex-col h-full grow bg-sky-600 px-4">
    <div>
      <h2 class="text-xl font-bold text-white my-4">{{board?.title}}</h2>
    </div>

    <!-- esta directiva cdkDropListGroup habilita el grupo de elementos para que se puedan mover entre columnas -->
    <!-- <div cdkDropListGroup class="flex items-start w-full h-full">
      <div class="rounded bg-gray-200 w-72 p-2 mr-3">
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">To Do</h3>
        </div> -->

        <!-- con cdkDropList se habilita la lista para que el elemento no se salga del contenedor -->
        <!-- al evento cdkDropListDropped se le pasa un callback para que escuche el evento -->
        <!-- hay que indicarle a cdkDropListData el array de datos que se va a utilizar -->
        <!-- <div
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="todos"
          class="min-h-6 text-sm mt-2"
        > -->
          <!-- con cdkDrag se puede mover el elemento desordenadamente -->
          <!-- @for (todo of todos; track todo.id) {
          <div
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ todo.title }}
          </div>
          }
        </div>
      </div> -->

      <!-- <div class="rounded bg-gray-200 w-72 p-2 mr-3">
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">Doing</h3>
        </div>

        <div
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="doing"
          class="min-h-6 text-sm mt-2"
        > -->
          <!-- con cdkDrag se puede mover el elemento desordenadamente -->
          <!-- @for (todo of doing; track todo.id) {
          <div
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ todo.title }}
          </div>
          }
        </div>
      </div>

      <div class="rounded bg-gray-200 w-72 p-2 mr-3">
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">Done</h3>
        </div>

        <div
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="done"
          class="min-h-6 text-sm mt-2"
        > -->
          <!-- con cdkDrag se puede mover el elemento desordenadamente -->
          <!-- @for (todo of done; track todo.id) {
          <div
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ todo.title }}
          </div>
          }
        </div>
      </div>
    </div> -->

    <!-- dynamic colums -->
    <div cdkDropListGroup class="flex grow items-start w-full h-full overflow-x-scroll">
      @for (list of board?.lists; track list.title) {
        <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0">
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2">{{ list.title }}</h3>
          </div>

          <div
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="list.cards"
            class="min-h-6 text-sm mt-2"
          >
            @for (card of list.cards; track card.id) {
              <div
              (click)="openDialog(card)"
                cdkDrag
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                {{ card.title }}
              </div>
            }
          </div>
        </div>
      }

      <button class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0 text-sm text-left font-bold" (click)="addColumn()">Add column</button>
    </div>
  </div>
</div>
