@if (!showRegisterForm) {
  <h1 class="text-center font-bold py-2 text-gray-700">Enter your data</h1>
  <form [formGroup]="formUserValidate" novalidate class="space-y-4" (ngSubmit)="validateUser()">
    <div>
      <div class="relative">
        <input
          #nameInput
          formControlName="email"
          placeholder="Enter email"
          type="email"
          name="email"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
        />
      </div>
      @if (formUserValidate.controls.email.touched && formUserValidate.controls.email.invalid) {
        <div>
          @if (formUserValidate.controls.email.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              This field is mandatory
            </p>
          } @if (formUserValidate.controls.email.hasError('email')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              This field should be a email
            </p>
          }
        </div>
      }
    </div>

    @if (statusUserValidate === 'failed') {
      <div>
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          {{ errorMessage }}
        </p>
      </div>
    }

    <div>
      <app-btn typeBtn="submit" color="success" [loading]="statusUserValidate === 'loading'"
        >Continue</app-btn
      >
    </div>
  </form>
}

@if (showRegisterForm) {
  <h1 class="text-center font-bold py-2 text-gray-700">Enter your data</h1>
  <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="register()">
    <div>
      <div class="relative">
        <input
          formControlName="name"
          placeholder="Enter your name"
          type="text"
          name="name"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
        />
      </div>

      @if (form.controls.name.touched && form.controls.name.invalid) {
      <div>
        @if (form.controls.name.hasError('required')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field is mandatory
        </p>
        }
      </div>
      }
    </div>
    <div>
      <div class="relative">
        <input
          #nameInput
          formControlName="email"
          placeholder="Enter email"
          type="email"
          name="email"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
        />
      </div>
      @if (form.controls.email.touched && form.controls.email.invalid) {
      <div>
        @if (form.controls.email.hasError('required')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field is mandatory
        </p>
        } @if (form.controls.email.hasError('email')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field should be a email
        </p>
        }
      </div>
      }
    </div>
    <div>
      <div class="relative">
        <input
          formControlName="password"
          placeholder="Enter password"
          [type]="showPassword ? 'text' : 'password'"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
        />
        <button
          type="button"
          class="p-2 absolute right-2"
          (click)="showPassword = !showPassword"
        >
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      @if (form.controls.password.touched && form.controls.password.invalid) {
      <div>
        @if (form.controls.password.hasError('required')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field is mandatory
        </p>
        } @if (form.controls.password.hasError('minlength')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field should be greater than 8 characters
        </p>
        }
      </div>
      }
    </div>
    <div>
      <div class="relative">
        <input
          formControlName="confirmPassword"
          placeholder="Confirm password"
          type="password"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
        />
      </div>
      @if ( form.controls.confirmPassword.touched &&
      form.controls.confirmPassword.invalid ) {
      <div>
        @if (form.controls.confirmPassword.hasError('required')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field is mandatory
        </p>
        } @if (form.controls.confirmPassword.hasError('minlength')) {
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          This field should be greater than 8 characters
        </p>
        }
      </div>
      }
    </div>
    @if (form.controls.confirmPassword.touched) {
    <div>
      @if (form.hasError('mismatch')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        The password are not the same
      </p>
      }
    </div>
    }

    @if (status === 'failed') {
      <div>
        <p class="font-medium text-red-500 text-xs mt-1 ml-1">
          {{ errorMessage }}
        </p>
      </div>
    }
    <div>
      <app-btn typeBtn="submit" color="success" [loading]="status === 'loading'"
        >Register</app-btn
      >
    </div>
  </form>
}
